@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #ebebeb;
}

.header {
  background-color: #000;
  height: 50px;
  font-size: .9rem;
  font-weight: 500;
  color: #bebebe;
  letter-spacing: 1px;
}

.content .title {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.content .item {
  -webkit-box-shadow: 0 0 10px #999;
          box-shadow: 0 0 10px #999;
  background-color: #fff;
}

.content .item img {
  height: 250px;
  vertical-align: middle;
}

.content .item .text {
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
}

.content .item .text input {
  cursor: pointer;
}

.content .generator input {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #bebebe;
  color: #333;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: .5px;
}

.content .generator input:hover {
  color: #fff;
  background-color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: none;
  outline: none;
}

.content .generator textarea {
  max-width: 500px;
  height: 200px;
  line-height: 1.6;
  color: #333;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .8px;
}

.footer {
  background-color: #000;
  color: #bebebe;
  font-size: .7rem;
  font-weight: 500;
  height: 40px;
  letter-spacing: .5px;
}

@media screen and (min-width: 576px) {
  .header {
    font-size: 1.2rem;
  }
  .content .title {
    font-size: 3rem;
  }
  .content .item {
    margin-bottom: 30px;
  }
  .content .item .text {
    font-size: 1.4rem;
  }
  .content .generator input {
    width: 250px;
    font-size: 1.3rem;
  }
  .content .generator textarea {
    font-size: 1.6rem;
  }
  .footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 1.4rem;
  }
  .content .title {
    font-size: 4rem;
  }
  .content .item img {
    height: 300px;
  }
  .content .item .text {
    font-size: 1.5rem;
  }
  .content .generator {
    margin-top: 100px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .content .generator input {
    margin-right: 20px;
  }
  .content .generator textarea {
    height: 150px;
  }
  .footer {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */