@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: #ebebeb;
}

// herder
.header {
  background-color: #000;
  height: 50px;
  font-size: .9rem;
  font-weight: 500;
  color: #bebebe;
  letter-spacing: 1px;
}
// header end

// content
.content {
  .title{
    color: #333;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .item {
    box-shadow: 0 0 10px #999;
    background-color: #fff;

    img {
      height: 250px;
      vertical-align: middle;
    }

    .text {
      margin-left: 5px;
      font-size: 1.2rem;
      font-weight: 300;
      color: #333;

      input {
        cursor: pointer;
      }
    }
  }

  .generator {
    input {
      width: 150px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50px;
      border: none;
      outline: none;
      background-color: #bebebe;
      color: #333;
      cursor: pointer;
      transform: scale(1);
      transition: transform .5s;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: .5px;

      &:hover {
        color:#fff;
        background-color: #000;
        transform: scale(1.1);
        border: none;
        outline: none;
      }
    }

    textarea {
      max-width: 500px;
      height: 200px;
      line-height: 1.6;
      color: #333;
      border-radius: 5px;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: .8px;
    }
  }
}
// content

// footer
.footer {
  background-color: #000;
  color:#bebebe;
  font-size: .7rem;
  font-weight: 500;
  height: 40px;
  letter-spacing: .5px;
}
// footer end

@media screen and (min-width: 576px) {
  // header 
  .header {
      font-size: 1.2rem;
  }
  // header end

  // content
  .content {
    .title {
      font-size: 3rem;
    }

    .item {
      margin-bottom: 30px;

      .text {
        font-size: 1.4rem;
      }
    }

    .generator {
      input {
        width: 250px;
        font-size: 1.3rem;
      }

      textarea {
        font-size: 1.6rem;
      }
    }
  }
  // content end

  // footer
  .footer {
    font-size: 1rem;
  }
  // footer end
}

@media screen and (min-width: 768px) {
  // header 
  .header {
      font-size: 1.4rem;
  }
  // header end

  // content
  .content {
    .title {
      font-size: 4rem;
    }

    .item {
      img {
        height: 300px;
      }

      .text {
        font-size: 1.5rem;
      }
    }

    .generator {
      margin-top: 100px;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;

      input {
        margin-right: 20px;
      }

      textarea {
        height: 150px;
      }
    }
  }
  // content end

  // footer
  .footer {
    font-size: 1.2rem;
  }
  // footer end
}