<!-- content -->
  <div class="content">
    <div class="title">你想對誰說幹話?</div>
    <form action="/" method="post">
      <div class="container">
        <div class="items">
          <div class="item">
            <div class="pic">
              <img src="/image/engineer.jpg" alt="engineer">
            </div>
            <div class="btn">
              <input type="radio" name="engineer" id="engineer">
              <label for="engineer">工程師</label>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/image/designer.jpg" alt="designer">
            </div>
            <div class="btn">
              <input type="radio" name="designer" id="designer">
              <label for="designer">設計師</label>
            </div>
          </div>
          <div class="item">
            <div class="pic">
              <img src="/image/founder.jpg" alt="founder">
            </div>
            <div class="btn">
              <input type="radio" name="founder" id="founder">
              <label for="founder">企業家</label>
            </div>
          </div>
        </div>

        <div class="generator">
          <button type="submit">產生幹話</button>
          <textarea id="" cols="1" rows="1" id="trash-talk">{{ trashTalk }}</textarea>
        </div>

      </div>
    </form>
  </div>
  <!-- content end -->
